*.DS_Store
.idea/*
*.pyc
src/frontend/node_modules/*
src/server/venv/*
src/server/src/test/.pytest_cache/*
src/server/src/instance/game.db
src/server/src/instance/game.db-journal
src/server/.idea/*
src/server/target/*
Lib/*
Scripts/*
pyvenv.cfg
include/*
var/*
data.json
